<p style="color: green"><%= notice %></p>

<div id="new_message">

  <%= render partial: "messages/form", locals: { message: Message.new } %>

</div>
<h1>Messages</h1>


<div id="messages">
    <%= render @messages %>
</div>

