

<h1>Messages
  <div id="message_count">
    <span><%= Message.count %></span>
  </div>
</h1>


<div id="new_message">

  <%= render partial: "messages/form", locals: { message: Message.new } %>

</div>

<div id="messages">
  <%= render @messages %>
</div>

